extends layout

block content
  // The background of the app.
  // A visual representation of the weather.
  div(id="background")
    div(id="sunimage")
    div(id="moonimage")
    div(id="stars")
    div(id="rainimage")
    div(id="snowimage")
    div(id="clouds")
    div(id="groundsnow")
    div(id="ground")
  // Shows the title, settings and search buttons.
  div(id="titlebar")
    div(id="sitetitle")
    div(id="siteactions")
      button(id="searchbutton" type="button" class="actionbutton")
      button(id="settingsbutton" type="button" class="actionbutton")
  // The weather of the current location or city.
  div(id="middlesection")
    div(id="locationprevious" class="actionbutton")
    div(id="currentweather")
      div(id="city") Loading...
      div(id="stats")
          div(id="currenttemp")
          div(id="hilow")
              div(id="temphi" class="temperaturehi")
              div(id="templow" class="temperaturelow")
    div(id="locationnext" class="actionbutton")
  // The forecast for the current location or city.
  div(id="forecast")
    div(id="tilescontainer")
      // The forecast tiles divs go here
  // The settings window.
  div(id="settingswindow")
    div(id="tempunits" class="settingsbutton") Units: F
    div(id="forecastamount" class="settingsbutton") Forecast: 5 Days
    div(id="deletelocation" class="settingsbutton") Delete
    div(id="closesettings" class="settingsbutton") Close Settings
  // The search window.
  div(id="searchwindow")
    div(id="searchtitle") New City:
    input(id="searchbar" type="text" value="City")
    div(id="addcitybutton" class="searchbutton") Add City
    div(id="closesearch" class="searchbutton") Close Search