/********************************
 * Background
 ********************************/
body, html {
    height: 93%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #BEFFFD;
    background-repeat: no-repeat;
    background-size: cover;
}

#rainimage {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    background-image: url('../images/Rain.png');
    visibility: hidden;
}

#snowimage {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    background-image: url('../images/Snow.png');
    visibility: hidden;
}

#ground {
    height: 250px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('../images/HillsGreen.png');
}

#groundsnow {
    height: 250px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('../images/HillsSnow.png');
    visibility: hidden;
}

#sunimage {
    height: 128px;
    width: 128px;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -6;
    background-image: url('../images/Sun.png');
    visibility: hidden;
}

#moonimage {
    height: 128px;
    width: 128px;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 23;
    left: 76;
    z-index: -4;
    background-image: url('../images/Moon.png');
    visibility: hidden;
}

#stars {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    background-image: url('../images/Stars.png');
    visibility: hidden;
}

#clouds {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('../images/Clouds.png');
    visibility: hidden;
}

/********************************
 * Title Bar Area
 ********************************/
#sitetitle, #searchbutton, #settingsbutton, #weathersymbol {
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

#sitetitle, #siteactions, #searchbutton, #settingsbutton {
    display: inline-block;
    z-index: 0;
}

#siteactions {
    float: right;
    height: 100%;
    width: 25%;
    padding-top: 22px;
}

#titlebar {
    height: 20%;
}

#sitetitle {
    background-image: url('../images/SiteTitle.png');
    height: 100%;
    width: 50%;
    margin-left: 32px;
}

.actionbutton {
    height: 100%;
    width: 22%;
    margin-right: 32px;
    vertical-align: middle;
    border: none;
    float: right;
    background-color: rgba(0, 0, 0, 0);
}

#searchbutton {
    background-image: url('../images/SearchIcon.png');
}

#settingsbutton {
    background-image: url('../images/SettingsIcon.png');
}

/********************************
 * Current Weather
 ********************************/
#locationprevious, #locationnext {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

#locationprevious {
    background-image: url('../images/ArrowLeft.png');
    background-position-x: left;
}

#locationnext {
    background-image: url('../images/ArrowRight.png');
    background-position-x: right;
    float right;
}

#middlesection {
    margin-top: 26px;
    height: 40%;
    width: 100%;
    display: inline-flex;
}

#currentweather {
    height: 100%;
    width: 60%
}

#city, #stats {
    margin-left: auto;
    margin-right: auto;
}

#city {
    font-size: xx-large;
    text-align: center;
    z-index: 0;
}

#stats {
    width: 180px;
}

#currenttemp {
    font-size: xx-large;
    display: inline-block;
    z-index: 0;
}

#hilow {
    float: right;
    z-index: 0;
}

#temphi, #templow {
    font-size: large;
    z-index: 0;
}

/********************************
 * Future Forcast
 ********************************/

 #forecast {
    height: 40%;
    width: 100%;
    overflow-x: auto; 
 }

 #tilescontainer {
    height: 100%;
    display: inline-flex;
 }

 .forecasttile {
    height: 77%;
    display: inline-block;
    background-color: rgba(202, 202, 202, 0.28);
    padding-top: 40px;
    margin-right: 5px;
    border: solid;
    border-width: 1px;
 }

 .temperaturehi, .temperaturelow, .tiletitle {
    text-align: center;
    font-size: 200%;
    height: 33%;
 }

 .temperaturehi {
    color: red;
 }

 .temperaturelow {
    color: blue;
 }

/********************************
 * Settings Window
 ********************************/

#settingswindow {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.96);
}

#tempunits, #forecastamount, #deletelocation, #closesettings {
    width: 75%;
    height: 25%;
    font-size: 300%;
    color: gray;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/********************************
 * City Search
 ********************************/

#searchwindow {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.96);
}

#searchtitle {
    color: white;
}

#searchtitle, #searchbar, .searchbutton {
    width: 75%;
    height: 25%;
    font-size: 300%;
    text-align: center;
}

#searchtitle, .searchbutton {
    line-height: 200%;
    margin-right: auto;
    margin-left: auto;
}

#searchbar {
    border-radius: 25px;
    text-align: center;
    width: 100%;
}

.searchbutton {
    color: gray;
    cursor: pointer;
}

/********************************
 * Other
 ********************************/
#city, #currenttemp, #temphi, #templow, .tiletitle, .temperaturehi, .temperaturelow,
#tempunits, #forecastamount, #deletelocation, #closesettings, .searchbutton, #searchtitle, #searchbar {
    font-family: arial black;
}